@{Layout=null;}

<div id="settings-button" class="button"></div>
@{if(ViewBag.login == true)
  {
    <div id="add-item-button" class="button"></div>

    <script type="text/javascript">    
        $(function () {
            $('#add-item-button').click(function () {
                $.post("Desktop/AddItem", function (data) {
                    $('body').append(data);
                });
            });
        });
    </script>
  }
}

<script type="text/javascript">
    $('#settings-button').click(function () {
        $.post("User/Edit", function (result) {
            $('body').append(result);
        });
    });
</script>