<div id="header-container">
    @{Html.RenderAction("Index","Header");}
</div>

<div id="desktop-container">
    @{Html.RenderAction("Index","Desktop");}
</div>

<div id="users-container">
    @{Html.RenderAction("Index","Userlist");}
</div>

<div id="user-list-hover"></div>
<script type="text/javascript">
    
    
</script>

<div id="topics-container">
    @{Html.RenderAction("Index","Topics");}
</div>

<div id="chat-container">
    @{Html.RenderAction("Index","Chat");}
</div>

<script type="text/javascript">
    var refreshId = setInterval(function () {
        $.post("Chat/Index", function (data) {
            $('#chat-container').html(data);
        });
    }, 30000);
</script>