<div id="desktop-container">
    @{Html.RenderAction("Index","Desktop");}
</div>

<div id="header-container">
    @{Html.RenderAction("Index","Header");}
</div>

<script type="text/javascript">
    function refreshUserlist() {
        $.post("Userlist/Index", function (data) {
            $('#user-list-container').html(data);
        });
    }

    var refreshId = setInterval("refreshUserlist()", 9000);

    $(document).ready(refreshUserlist());
</script>

<div id="user-list-container">
</div>

<div id="desktop-list-container">
    @{Html.RenderAction("Index","Desktoplist");}
</div>

@{if (ViewBag.login == true)
  {
    <div id="user-list-hover"></div>
  


    <div id="desktop-list-hover"></div>
    <script type="text/javascript">

        hover_desktop_list = 0;
        visible_desktop_list = true;

        function hoverDesktopList() {

            switch (hover_desktop_list) {
                case 0:
                    if (visible_desktop_list === true) {
                        var right = -($('#desktop-list').width()*0.9);
                        $('#desktop-list-container').animate({ "left": right + "px" }, 'fast');
                        visible_desktop_list = false;
                    }
                    break;

                case 1:
                    if (visible_desktop_list === false) {
                        visible_desktop_list = true;
                        $('#desktop-list-container').animate({ "left": "0" }, 'fast');
                    }
                    setTimeout(function () { hoverDesktopList(); }, 2000);
                    break;

                default:
                    setTimeout(function () { hoverDesktopList(); }, 2000);
            }
        };
        $(document).ready(hoverDesktopList());
        $("#desktop-list-hover").mouseenter(function () { hover_desktop_list++; hoverDesktopList(); });
        $("#desktop-list").mouseenter(function () { hover_desktop_list++; hoverDesktopList(); });
        $("#desktop-list-hover").mouseleave(function () { hover_desktop_list--; });
        $("#desktop-list").mouseleave(function () { hover_desktop_list--; });
    </script>
  }
}

@{if (ViewBag.login == true){
<div id="topics-container">
    @{Html.RenderAction("Index","Topics");}
</div>
}}

@{if (ViewBag.login == true){
<div id="chat-container">
    @{Html.RenderAction("Index","Chat");}
</div>
}}

<div id="dialog-background"></div>

<script type="text/javascript">
    $('#dialog-background').click(function () { $('#dialog-background').hide(); $('.dialog').remove(); });
</script>