<div id="header-container">
    @{Html.RenderAction("Index","Header");}
</div>

<div id="desktop-container">
    @{Html.RenderAction("Index","Desktop");}
</div>

<div id="users-container">
    @{Html.RenderAction("Index","Userlist");}
</div>

<div id="user-list-hover"></div>
<script type="text/javascript">

    $("#user-list-hover").hover(
      function () {
          $('#users-container').animate({ "right": "0%" }, 'fast');
      },
      function () {
              setTimeout(function () {
                  $('#users-container').animate({ "right": "-4%" }, 'slow');
              }, 1000);
      });
</script>

<div id="topics-container">
    @{Html.RenderAction("Index","Topics");}
</div>

<div id="chat-container">
    @{Html.RenderAction("Index","Chat");}
</div>

<script type="text/javascript">
    var refreshId = setInterval(function () {
        $.post("Chat/Index", function (data) {
            $('#chat-container').html(data);
        });
    }, 30000);
</script>

<div id="dialog-background"></div>

<script type="text/javascript">
    $('#dialog-background').click(function () { $('#dialog-background').hide(); $('.dialog').remove(); });
</script>