
<div id="header-container">
    @{Html.RenderPartial("_Header");}
    <script type="text/javascript">
        var refreshId = setInterval(function () {
            $.post("_Header/Update", function (data) {
                $('#header-container').html(data);
            });
        }, 5000);
    </script>
</div>

<div id="desktop-container">
    @{Html.RenderPartial("_Desktop");}
</div>

<div id="users-container">
    @{Html.RenderPartial("_Users");}
</div>

<div id="topics-container">
    @{Html.RenderPartial("_Topics");}
</div>

<div id="chat-container">
    @{Html.RenderPartial("_Chat");}
</div>