@{
    ViewBag.Title = "Home Page";
}

<div class="header">@ViewBag.Message</div>
<div class="desktop">Desktop</div>
<div class="topic-container">Topics</div>
<div class="chat-container">Chat</div>
<div class="desktop-list">Desktop list</div>
<div class="user-list">User list</div>