<div id="header-container">
    @{Html.RenderAction("Index","Header");}
    <script type="text/javascript">
        var refreshId = setInterval(function () {
            $.post("Header/Index", function (data) {
                $('#header-container').html(data);
            });
        }, 1000);
    </script>
</div>

<div id="desktop-container">
    @{Html.RenderAction("Index","Desktop");}
    <div id="desktop-plus-sign">
    </div>
</div>

<div id="users-container">
    @{Html.RenderAction("Index","Userlist");}
</div>

<div id="topics-container">
    @{Html.RenderAction("Index","Topics");}
</div>

<div id="chat-container">
    @{Html.RenderAction("Index","Chat");}
</div>