@{Layout=null;}
<!-- This list should be generated from a list of currently online users-->
<ul id ="desktop-list">
<li class ="desktop-list-item">Desktop1</li>
<li class ="desktop-list-item">Desktop2</li>
<li class ="desktop-list-item">Desktop3</li>
</ul>