@{Layout=null;}
<!-- This list should be generated from a list of currently online users-->
<ul id ="desktop-list" class="side-list">
<li class ="side-list-item desktop-list-item">Desktop1</li>
<li class ="side-list-item desktop-list-item">Desktop2</li>
<li class ="side-list-item desktop-list-item">Desktop3</li>
</ul>