<!--
    Copyright (C) 2011 Ari Rokosa, Chinedu Eze, Johannes Virtanen,
                       Petri Tuononen, Timo Korkalainen

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
@{Layout=null;}
<ul id ="desktop-list" class="side-list">
    <li id="desktop1" class ="side-list-item desktop-list-item">Desktop1</li>
    <li id="desktop2" class ="side-list-item desktop-list-item">Desktop2</li>
    <li id="desktop3" class ="side-list-item desktop-list-item">Desktop3</li>
</ul>

<script type="text/javascript">
    $('#desktop1').click(function () {
        $(this).css("background-color", "#79a6d9");
        $('#desktop2').css("background-color", "#555555");
        $('#desktop3').css("background-color", "#555555");
        refreshDesktop(1);
    });
    $('#desktop2').click(function () {
        $('#desktop1').css("background-color", "#555555");
        $(this).css("background-color", "#79a6d9");
        $('#desktop3').css("background-color", "#555555");
        refreshDesktop(2);
    });
    $('#desktop3').click(function () {
        $('#desktop1').css("background-color", "#555555");
        $('#desktop2').css("background-color", "#555555");
        $(this).css("background-color", "#79a6d9");
        refreshDesktop(3);
    });

    function refreshDesktop(id) {
        $.post("DesktopList/Refresh?desktopID="+id, function (data) {
            $('#desktop-container').html(data);
        });
    };
</script>