@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-large" class="dialog">
    <div class="close-dialog button-small" onclick="removeEditors();"></div>

@using (Html.BeginForm("AddTopic", "Topics"))
{
    <div>
        <div>@Html.TextBox("content")</div>
        <input type="submit" value="add" />
    </div>
}

@Ajax.ActionLink("Log out","Logout","User", new AjaxOptions{UpdateTargetId="site-container", InsertionMode=InsertionMode.Replace, HttpMethod = "post", OnSuccess="removeEditors"})

</div>