@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-large" class="dialog">
    <div class="close-dialog button-small" onclick="removeEditors();"></div>

@using (Html.BeginForm("AddNewUserToDb", "User"))
{
    <div>
        <div><span>Username: </span>@Html.TextBox("userName")</div>
        <div><span>Password: </span>@Html.Password("passWord")</div>
        <input type="submit" value="Add User" />
    </div>
}

@Ajax.ActionLink("Log out","Logout","User", new AjaxOptions{UpdateTargetId="site-container", InsertionMode=InsertionMode.Replace, HttpMethod = "post", OnSuccess="removeEditors"})

</div>