@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <div class="close-dialog button-small" onclick="$('.dialog').remove(); $('#dialog-background').hide();"></div>
@using (Ajax.BeginForm("Login", "User", new AjaxOptions {UpdateTargetId = "site-container", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnSuccess="removeEditors"}))
{
    <div>
        <div class="login-info"><span>Username: </span>@Html.TextBox("username","",new {@class="login-input"})</div>
        <div class="login-info"><span>Password: </span>@Html.Password("password","",new {@class="login-input"})</div>
        <input class="text-button login-button" type="submit" value="Login" />
    </div>
}

</div>