@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <div class="close-dialog button-small" onclick="$('#dialog-background').hide(), $('.dialog').remove()"></div>
@using (Ajax.BeginForm("Login", "User", new AjaxOptions {UpdateTargetId = "site-container", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnSuccess="removeEditors"}))
{
    <div>
        <div><span>Username: </span>@Html.TextBox("username")</div>
        <div><span>Password: </span>@Html.Password("password")</div>
        <input type="submit" value="Login" />
    </div>
}

</div>