@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <div class="close-dialog button-small" onclick="$('#dialog-background').hide(), $('.dialog').remove()"></div>

@using (Html.BeginForm("Login", "User"))
{
    <div>
        <div>@Html.TextBox("name")</div>
        <div>@Html.TextBox("password")</div>
        <input type="submit" value="Login" />
    </div>
}

</div>