@{Layout=null;} 

<div id="topics-up-button" class="button-small"></div>
<div id="topics-down-button" class="button-small"></div>

<script type="text/javascript">

    function topics_toggle() { $('#topics-up-button').toggle(); $('#topics-down-button').toggle()}

    $('#topics-up-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "40%" }, 'fast'); 
    });

    $('#topics-down-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "85%" }, 'fast'); 
    });
</script>

<script type="text/javascript">
    function refreshTopics() {
            $.post("Topics/RenderTopicsHttpPost", function (data) {
                $('#topic-list').html(data);
            });
        }
    var refreshId = setInterval(refreshTopics(), 10000);
    $(document).ready(refreshTopics());
</script>

@using (Ajax.BeginForm("AddTopic", "Topics", new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post" }))
{
    <div id="new-topic-container">
        @Html.TextBox("content", "", new { @class = "topic-input" })
        <input id="topic-submit" class="button-small" type="submit" value="" />
    </div>
}

<div id="topic-list">
    @*@{Html.RenderAction("RenderTopics", "Topics");}*@
    @*{Html.RenderPartial("_TopicsList");}*@    
</div>