@{Layout=null;}
<div id="topics-up-button" class="button-small"></div>
<div id="topics-down-button" class="button-small"></div>

<script type="text/javascript">

    function topics_toggle() { $('#topics-up-button').toggle(); $('#topics-down-button').toggle()}

    $('#topics-up-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "40%" }, 'fast'); 
    });

    $('#topics-down-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "85%" }, 'fast'); 
    });
</script>

<table>
    @using (Html.BeginForm("AddTopic", "Topics"))
    {
        <tr>
            <td>@Html.TextBox("content")</td>
            <td><input type="submit" value="add" /></td>
        </tr>
    }
    @Html.Partial("_Topics")
</table>