@{Layout=null;}
<div id="topics-up-button" class="button-small"></div>
<div id="topics-down-button" class="button-small"></div>

<script type="text/javascript">

    function topics_toggle() { $('#topics-up-button').toggle(); $('#topics-down-button').toggle()}

    $('#topics-up-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "40%" }, 'fast'); 
    });

    $('#topics-down-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "85%" }, 'fast'); 
    });
</script>

<script type="text/javascript">
    var refreshId = setInterval(function () {
        $.post("Topics/RenderTopics", function (data) {
            $('#topiclist').html(data);
        });
    }, 1000);
</script>

@using (Html.BeginForm("AddTopic", "Topics"))
{
    <div id="topics-add-box">
        <div id="topic-input">@Html.TextBox("content")</div>
        <input id="topic-submit" type="submit" value="add" />
    </div>
}

<table id="topiclist">
    
</table>