@model IEnumerable<sdcsd.Models.Topic>

@{
    ViewBag.Title = "Index";
}
<div id="topics-up-button" class="button-small"></div>
<div id="topics-down-button" class="button-small"></div>

<script type="text/javascript">
function topics_toggle() { $('#topics-up-button').toggle('fast'); $('#topics-down-button').toggle('fast'); }
$('#topics-up-button').click(function () {
    topics_toggle();
    $('#topics-container').css("top", "50%");
});

$('#topics-down-button').click(function () {
    topics_toggle();
    $('#topics-container').css("top", "85%");
});
</script>