@{Layout=null;} 

<div id="topics-up-button" class="button-small"></div>
<div id="topics-down-button" class="button-small"></div>

<script type="text/javascript">

    function topics_toggle() { $('#topics-up-button').toggle(); $('#topics-down-button').toggle()}

    $('#topics-up-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "40%" }, 'fast'); 
    });

    $('#topics-down-button').click(function () {
        topics_toggle();
        $('#topics-container').animate({ "top": "75%" }, 'fast'); 
    });
</script>

<script type="text/javascript">
    function refreshTopics() {
            $.post("Topics/RenderTopicsHttpPost", function (data) {
                $('#topic-list').html(data);
            });
        }

    var refreshId = setInterval("refreshTopics()", 6000);
    
    $(document).ready(refreshTopics());

    function clearTopicInput() {
        $('#topic-input').val("");
    }
</script>

@using (Ajax.BeginForm("AddTopic", "Topics", new AjaxOptions {UpdateTargetId="topic-list", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnBegin="clearTopicInput" }))
{
    <div id="new-topic-container">
        <input id="topic-submit" class="button-small" type="submit" value="" maxlength="160"/>
        @Html.TextBox("content", "", new { id = "topic-input" })
    </div>
}

<div id="topic-list">
</div>