<!--
    Copyright (C) 2011 Ari Rokosa, Eze Chinedu, Johannes Virtanen, 
		       Petri Tuononen, Timo Korkalainen

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
@model IEnumerable<sdcsd.Models.TopicModel>

@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="topic-container">
            @Html.DisplayFor(modelItem => item.Content)
            @Ajax.ActionLink("", "SetInactive","Topics", new {},
            new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post"},
            new { id = item.ID, @class="remove-tiny button-tiny" })
        </div>
    }
}
