@model IEnumerable<sdcsd.Models.TopicModel>

@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="topic-container">
            @Html.DisplayFor(modelItem => item.Content)
            @Ajax.ActionLink("", "SetInactive","Topics", new {},
            new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post"},
            new { id = item.ID, @class="remove-tiny button-tiny" })
        </div>
    }
}
