#desktop-container 
{
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 15%;
    margin: 0;
    background-image: url(/../../Content/images/spaceinvader_100px.jpg);
    background-repeat: repeat;
}

#settings-button
{
    top: 0%;
    left: 0%;
    height: 64px;
    width: 64px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background-image: url('/../../Content/icons/user.png');
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#add-item-button
{
    background-image: url(/../../Content/icons/add.png);
    float: left;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header-container 
{
    position: absolute;
    width: 100%;
    margin: 0;
    height: 80px;
}

#user-list-container 
{
    position: absolute;
    margin: 0;
    margin-left: 99%;
    left: 0;
    top: 20%;
    z-index: 15;
}

#desktop-list-container 
{
    position: absolute;
    width: 5%;
    min-height: 20em;
    left: 0;
    top: 20%;
    margin: 0;
    
    background-color: #aaaaaa;
}

#topics-container 
{
    position: absolute;
    width: 49%;
    bottom: 0;
    top: 85%;
    margin: 0;
    left: 1%;
    
    z-index: 10;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 4px;
    background-color: #666666;
    overflow: hidden;
}

#chat-container 
{
    position: absolute;
    width: 49%;
    bottom: 0;
    top: 85%;
    margin: 0;
    right: 1%;
    
    z-index: 10;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 4px;
    background-color: #666666;
    overflow: hidden;
}

.button 
{
    width: 64px;
    height: 64px;
    padding: 2px;
    background-color: #777777;
}
.button-small
{
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 4px;
}
.button-small, .button
{
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    top: 0;
    border: 0;
    background-color: #777777;
}
.button-small:hover, .button:hover
{
    background-color: #999999;
}

#chat-up-button 
{
    left: 0;
    background-image: url(/../../Content/icons/up_small.png);
    border-bottom-right-radius: 4px;
}
#chat-down-button 
{
    left: 0;
    background-image: url(/../../Content/icons/down_small.png);
    display: none;
    border-bottom-right-radius: 4px;
}
#topics-up-button 
{
    right: 0;
    background-image: url(/../../Content/icons/up_small.png);
    border-bottom-left-radius: 4px;
}
#topics-down-button 
{
    right: 0;
    background-image: url(/../../Content/icons/down_small.png);
    display: none;
    border-bottom-left-radius: 4px;
}

#user-list-hover
{
    position: fixed;
    width: 25px;
    height: 100%;
    left: 100%;
    top: 0;
    margin-left: -20px;
    z-index: 14;
}

#dialog-background
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    background-color: Black;
    filter:alpha(opacity=50);
    z-index: 18;
    display: none;
}

.dialog
{
    position: absolute;
    background-color: #ffffff;
    border-radius: 1em;
    z-index: 20;
    padding: 2em;
    
}

#dialog-large
{
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
}

#dialog-small
{
    width: 40%;
    height: 30%;
    top: 35%;
    left: 30%;
}

#user-list
{
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #444444;
}

.user-list-item
{
    background-color: #777777;
    font-size: 23px;
    line-height: 16px;
    list-style: none inside url("../../Content/icons/user_tiny.png");
    margin: 0;
    border: 1px solid #505050;
    padding: 0.4em 1.2em 0.4em 0.4em;
    color: #aaaaaa;
    font-family: Arial, Sans-Serif;
}
.user-list-item:hover
{
    color: #ffffff;
    border-color: #333333;
    background-color: #999999;
}