#desktop-container 
{
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 15%;
    margin: 0;
}

#settings-button
{
    top: 0%;
    left: 0%;
    height: 64px;
    width: 64px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background-image: url('/../../Content/icons/user.png');
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#add-item-button
{
    background-image: url(/../../Content/icons/add.png);
    float: left;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header-container 
{
    position: absolute;
    width: 100%;
    margin: 0;
    height: 80px;
}

#desktops-container 
{
    position: absolute;
    width: 5%;
    min-height: 20em;
    left: 0;
    top: 20%;
    margin: 0;
    
    background-color: #aaaaaa;
}

#users-container 
{
    position: absolute;
    width: 5%;
    min-height: 20em;
    right: 0;
    top: 20%;
    margin: 0;
    
    z-index: 15;
    background-color: #aaaaaa;
}

#topics-container 
{
    position: absolute;
    width: 50%;
    bottom: 0;
    top: 85%;
    margin: 0;
    left: 0;
    
    z-index: 10;
    
    background-color: #aaaaaa;
}

#chat-container 
{
    position: absolute;
    width: 50%;
    bottom: 0;
    top: 85%;
    margin: 0;
    right: 0;
    
    z-index: 10;
    
    background-color: #777777;
}

.button 
{
    width: 64px;
    height: 64px;
    padding: 2px;
    background-color: #ddddff;
}
.button-small
{
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 4px;
}
.button-small, .button
{
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    top: 0;
    opacity: 0.7;
    border: 0;
}
.button-small:hover, .button:hover
{
    opacity: 1.0;
}

#chat-up-button 
{
    left: 0;
    background-image: url(/../../Content/icons/up_small.png);
}
#chat-down-button 
{
    left: 0;
    background-image: url(/../../Content/icons/down_small.png);
    display: none;
}
#topics-up-button 
{
    right: 0;
    background-image: url(/../../Content/icons/up_small.png);
}
#topics-down-button 
{
    right: 0;
    background-image: url(/../../Content/icons/down_small.png);
    display: none;
}

#user-list-hover
{
    position: absolute;
    width: 3%;
    height: 100%;
    right: 0;
    background-color: Red;
    z-index: 5;
}