@{Layout = null;}
<div id="chat-up-button" class="button-small"></div>
<div id="chat-down-button" class="button-small"></div>
<script type="text/javascript">
    function chat_toggle() { $('#chat-up-button').toggle(); $('#chat-down-button').toggle(); }

    $('#chat-up-button').click(function () {
        chat_toggle();
        $('#chat-container').animate({ "top": "40%" }, 'fast');
    });

    $('#chat-down-button').click(function () {
        chat_toggle();
        $('#chat-container').animate({"top": "85%"}, 'fast');
    });
</script>
