@{Layout = null;}
<div id="chat-up-button" class="button-small"></div>
<div id="chat-down-button" class="button-small"></div>

<script type="text/javascript">
    function chat_toggle() { $('#chat-up-button').toggle(); $('#chat-down-button').toggle(); }

    $('#chat-up-button').click(function () {
        chat_toggle();
        $('#chat-container').animate({ "top": "40%" }, 'fast');
    });

    $('#chat-down-button').click(function () {
        chat_toggle();
        $('#chat-container').animate({"top": "75%"}, 'fast');
    });
</script>

<script type="text/javascript">
    function refreshChat()
    {
        $.post("Chat/RenderMessagesHttpPost", function (data) {
            $('#chat-list').html(data);
        });
    }

    var refreshId = setInterval("refreshChat()", 4000);
    
    $(document).ready(refreshChat());

    function clearChatInput() {
        $('#chat-input').val("");
    }
</script>

@using (Ajax.BeginForm("SendMessage", "Chat", new AjaxOptions {UpdateTargetId="chat-list", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnComplete="clearChatInput" }))
{
    <div id="chat-add-box">
        <input id="chat-submit" class="button-small" type="submit" value="" maxlength="160" />
        @Html.TextBox("message", " ", new { id="chat-input"})
    </div>
}

<div id="chat-list">
</div>