<div id="chat-up-button" class="button-small"></div>
<div id="chat-down-button" class="button-small"></div>
<script type="text/javascript">
    function my_toggle() { $('#chat-up-button').toggle('fast'); $('#chat-down-button').toggle('fast'); }
    $('#chat-up-button').click(function () {
        my_toggle();
        $('#chat-container').css("top", "50%");
    });

    $('#chat-down-button').click(function () {
        my_toggle();
        $('#chat-container').css("top", "85%");
    });
  </script>
