@model IEnumerable<sdcsd.Models.MessageModel>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Sender) : </td>
        <td>@Html.DisplayFor(modelItem => item.Content)</td>
    </tr>
}