@model IEnumerable<sdcsd.Models.TopicModel>

@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="topic">
            @Html.DisplayFor(modelItem => item.Content)
           @* @Ajax.ActionLink("l", "SetInactive","Topics, null,
            new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post"},
            new { id = item.ID, @class="remove-tiny button-tiny" })*@
        </div>
    }
}