@model IEnumerable<sdcsd.Models.TopicModel>

@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <div class="topic">
            @Html.DisplayFor(modelItem => item.Content)
           @Ajax.ActionLink(" ", "SetInactive","Topics", new {id = item.ID},
            new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnSuccess="refreshTopics"},
            new {@class="topic-remove button-tiny" })
        </div>
    }
}