@model IEnumerable<sdcsd.Models.TopicModel>

@foreach (var item in Model)
{
    if (item.IsActive)
    {
        <p class="topic">
           @Ajax.ActionLink(" ", "SetInactive","Topics", new {id = item.ID},
            new AjaxOptions {UpdateTargetId="topiclist", InsertionMode=InsertionMode.Replace, HttpMethod="post", OnSuccess="refreshTopics"},
            new {@class="topic-remove button-tiny" })
            @Html.DisplayFor(modelItem => item.Content)
        </p>
    }
}