@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <div class="close-dialog button-small" onclick="$('#dialog-background').hide(), $('.dialog').remove()"></div>
    <h2>Add item</h2>

    <script type="text/javascript">
        id = 0;
        var uploader = new qq.FileUploader({
            element: $('#file-uploader')[0],
            params: { id: id },
            action: '/Desktop/Upload/',
            onSubmit: function (id, fileName) {
                $('.qq-upload-list').hide();


            },
            onProgress: function (fileName, loaded, total) {
                $('.qq-upload-list').show();
            },
            onComplete: function (id, filename, data) {
                $('.qq-upload-list').hide();
                $.each(data, function (key, value) {
                    $("#dialog-background").hide();
                    $(".dialog").remove();
                    //$('body').append(value);
                    id++;
                });

            }
        }); 
    </script>

    <div id="file-uploader" class="text-button">Upload file</div>
    <div class="qq-upload-list"></div>
</div>