@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <h2>Add a file</h2>
    @using (Ajax.BeginForm("Upload", "Desktop", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "Desktop", InsertionMode = InsertionMode.InsertAfter} ))
    {
        <input type="file" name="file"/>
        <br />
        <input type="submit" value="Upload"/>
        <button type="button" onclick="$('#dialog-background').hide(), $('.dialog').remove()">Cancel</button>
    }
</div>