@{Layout = null;}
<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-small" class="dialog">
    <div class="close-dialog button-small" onclick="$('#dialog-background').hide(), $('.dialog').remove()"></div>
    <h2>Add item</h2>

    <script type="text/javascript">
        var uploader = new qq.FileUploader({
            // pass the dom node (e.g. $(selector)[0] for jQuery users)
            element: $('#file-uploader')[0],//document.getElementById('file-uploader'),
            // path to server-side upload script
            action: '/Desktop/Upload/5',
            onSubmit: function (id, fileName) {
                $('.qq-upload-list').hide();

                /*var fileDescription = $('#file-description').val();

                uploader.setParams({
                    fileDescription: fileDescription
                });*/
            },
            onProgress: function (fileName, loaded, total) {
                $('.qq-upload-list').show();
            },
            onComplete: function (id, filename, data) {
                $('.qq-upload-list').hide();
                //alert(data['content']);
                $.each(data, function(key, value){
                    //alert(value);
                    $('body').append(value);
                });

            },
            debug: true
        }); 
    </script>

    <div id="file-uploader">Upload file</div>
    <div class="qq-upload-list"></div>
</div>