@model IEnumerable<sdcsd.Models.DesktopModel>
           
@{
    ViewBag.Title = "Desktop";
    var first = Model.First();
}

<h2>Desktop</h2>
@foreach (var item in Model)
{
<div style="position: absolute; left: @item.LocX; top: @item.LocY;">
   <img src="@item.Icon" alt="@item.Name" />
</div>
}
