@model IEnumerable<sdcsd.Models.DesktopModel>

@foreach (var item in Model) {
    <div class="draggable" style="position: absolute; left: @item.LocX; top: @item.LocY; background-color: transparent">
        <img src="@item.Icon" alt="@item.Name" />
    </div>    
}

<script type="text/javascript">
    $(function () {
        $(".draggable").draggable();
    });
</script>
