@{Layout=null;}
@model IEnumerable<sdcsd.Models.DesktopItemModel>

@foreach (var item in Model) {
    if (Session["DesktopID"].Equals(item.DesktopID.ToString()) && (Session["loggedin"] == "true"))
    {
        <div class="draggable" title="@item.Name" style="position: absolute;
         left: @item.LocX; top: @item.LocY; background-color: transparent">
            <img src="../../Content/icons/text.png" alt="@item.Name" />
        </div>    
    }
}

<script type="text/javascript">
    $(function () {
        $(".draggable").draggable({
            containment: '#desktop-container',
            cursor: 'move',
            snap: '#desktop-container',
            drag: function (event, ui) {
                this.style.opacity = 0.5
            },
            stop: function (event, ui) {
                this.style.opacity = 1.0
                var left = $(this).position().left;
                var top = $(this).position().top;
            }
        });
    });
    $(function () {
        $('.draggable').dblclick(function () {
            window.location.replace("/Desktop/GetFileFromDisk/"+this.title);
        });
    });

    $(function () {
        $('#add-item-button').click(function () {
            $.post("Desktop/AddItem", function (data) {
                $('body').append(data);
            });
        });
    });
</script>