@{Layout=null;}
@model IEnumerable<sdcsd.Models.DesktopItemModel>

@foreach (var item in Model) {
    <div class="draggable" title="@item.Name" style="position: absolute; left: @item.LocX; top: @item.LocY; background-color: transparent">
        <img src="../../Content/icons/text.png" alt="@item.Name" />
    </div>    
}
<div id="stop"></div>

<script type="text/javascript">
    $(function () {
        $(".draggable").draggable({
            containment: '#desktop-container',
            cursor: 'move',
            snap: '#desktop-container',
            drag: function (event, ui) {
                this.style.opacity = 0.5
            },
            stop: function (event, ui) {
                this.style.opacity = 1.0
                var left = $(this).position().left;
                var top = $(this).position().top;
                $("div#stop").text("Left: " + left + "\nTop: " + top);
            }
        });
    });
    $(function () {
        $('.draggable').dblclick(function () {
            var fileName = this.title;
            window.location.replace("/Desktop/GetFileFromDisk/"+fileName);
        });
    });
    $(function () {
        $('#add-item-button').click(function () {
            alert('Handler for .click() called.');
        });
    });
</script>