@model IEnumerable<sdcsd.Models.DesktopItemModel>

@foreach (var item in Model) {
    <div class="draggable" style="position: absolute; left: @item.LocX; top: @item.LocY; background-color: transparent">
        <img src="../../Content/icons/text.png" alt="@item.Name" />
    </div>    
}

<script type="text/javascript">
    $(function () {
        $(".draggable").draggable({
            containment: '#desktop-container',
            cursor: 'move',
            snap: '#desktop-container'
        });
    });
    $(function () {
        $('.draggable').dblclick(function () {
            alert('Handler for .dblclick() called.');
        });
    });
    $(function () {
        $('#desktop-plus-sign').click(function () {
            alert('Handler for .click() called.');
        });
    });
</script>