<div id="dialog-background"></div>
<script type="text/javascript">    $('#dialog-background').click(function () { $(this).remove(); $('#user-editor').remove(); });</script>
<div id="user-editor">Edit stuff or login</div>