<script type="text/javascript">
    $('#dialog-background').show();
</script>

<div id="dialog-large" class="dialog">
    <div class="close-dialog button-small" onclick="$('#dialog-background').hide(), $('.dialog').remove()"></div>
</div>
