@{Layout=null;}

@model IEnumerable<sdcsd.Models.UserModel>

<!-- This list should be generated from a list of currently online users-->
<ul id ="user-list">
@foreach (var item in Model)
{
    <li class ="user-list-item">@item.UserName</li>      
}
</ul>