@{Layout=null;}

@model IEnumerable<sdcsd.Models.UserModel>

<!-- This list should be generated from a list of currently online users-->
@foreach (var item in Model)
{
    <li class="side-list-item user-list-item">@item.UserName</li>
}