@{Layout=null;}
<!-- This list should be generated from a list of currently online users-->
<ul id ="user-list">
<li class ="user-list-item">korkalainen</li>
<li class ="user-list-item">petri</li>
<li class ="user-list-item">ari</li>
<li class ="user-list-item">eze</li>
</ul>